test/resources/data/letter.xsd

<xsd:schema targetNamespace="letter.xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:letter="letter.xsd">
  <xsd:element name="letter" type="letter:FormLetter"/>
  <xsd:complexType name="FormLetter" mixed="true">
    <xsd:sequence>
      <xsd:element name="date" minOccurs="0" type="xsd:string"/>
      <xsd:element name="firstName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="lastName" minOccurs="0" type="xsd:string"/>
      <!--<xsd:element name="text" minOccurs="0" type="xsd:string"/>-->
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
