test/resources/data/sdocs5.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://aldsp.bea.com/test/sdocs5"
  targetNamespace="http://aldsp.bea.com/test/sdocs5">
  <xs:element name="C">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="n" type="xs:string"/>
        <xs:element name="i" type="xs:integer"/>
        <xs:element name="t" type="xs:string" minOccurs="0" maxOccurs="3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
