test/resources/marshal/prod_nons.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="product" type="ProductType"/>

  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="number" type="xs:int"/>
      <xs:element name="size" type="SizeType"/>
    </xs:sequence>
  </xs:complexType>
 
  <xs:simpleType name="SizeType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="2"/>
      <xs:maxInclusive value="18"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
